/* ---this apply for the whole webpage-------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ------starting------- */
.logo img {
  width: 150px;
}
/* -----hidden the menu and x icon in header-------- */
.bar {
  display: none;
}

/* ---alignment of logo img and menu and x icon and header styles----- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 7vw;
  background-color: #f5f5db;
  border-bottom: 2px solid burlywood;
  box-shadow: 0 2px 20px rgb(253, 124, 124);
}
/* -----add styles to ul tags in header----------- */
.header ul {
  display: flex;
  align-items: center;
}
.header ul li:hover {
  color: crimson;
}
.nav ul li {
  padding: 0 15px;
  font-size: 14px;
  font-weight: bold;
}
/* ----add styles to account class------- */
.account {
  flex: 0.1;
}
.account ul {
  display: flex;
  justify-content: end;
}
.account ul li {
  padding: 0 15px;
  font-size: 18px;
}
.bar i :hover {
  color: crimson;
}
/* ------add styles to search class------- */
.search {
  align-items: center;
  display: none;
  width: 200px;
  justify-content: center;
}
.search input {
  width: 100%;
  padding: 5px;
}
.searchicon {
  background-color: rgb(238, 161, 176);
  display: block;
  padding: 4px 5px;
  cursor: pointer;
}
.searchicon i {
  font-size: 16px; /* Adjust the size as needed */
}
